body{
  background-color: rgb(216, 238, 238);
}

header{
  display: flex ;
  height: 100px;
  font-size: 40px;
  justify-content: center;
  background-color: rgb(4, 8, 56); 
  color: aliceblue; 
}

#result{
  background-image: url(./images/weatherbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-image: .4s;
  background-size: cover;
 
}
input{
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  height: 50px;
  background-color: rgb(249, 251, 251);
  border-color: rgb(22, 35, 35);
}
#displayCity{
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-deck {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.card {
  margin: 10px;
  flex: 1;
}

.user-history-item {
  margin-bottom: 10px;
}

.user-history-item span {
  margin-right: 10px;
}

#userHistory {
  flex-wrap: wrap;
}

#userHistory button {
  flex: 1 1 0%;
  margin: 5px;
}

#rain{
  width: 50px;
  height: 50px;
}
#card1{
  background-color: rgb(10, 10, 55);
  color: aliceblue;
}
#card2{
  background-color: rgb(10, 10, 55);
  color: aliceblue;
}
#card3{
  background-color: rgb(10, 10, 55);
  color: aliceblue;
}
#card4{
  background-color: rgb(10, 10, 55);
  color: aliceblue;
}
#card5{
  background-color: rgb(10, 10, 55);
  color: aliceblue;
}

p.footer{
  color: white;
  justify-content: center;
}

div.column{
  border: 1px solid;
}